@using EdgeRealEstate.Models.ViewModels
@*@model IEnumerable<EdgeRealEstate.Models.ViewModels.ContributerMoveViewModel>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2 style="text-align-last:center">تقرير حركة مساهم</h2>


<table class="table">



    @using (Html.BeginForm("Index", "ContributerMoveReport"))
    {
        <div>
            <div class="form-horizontal" dir="rtl">

                <div class="form-group" dir="rtl">



                    <div class="col-md-12">
                        <div class="col-md-10">
                            @Html.DropDownList("FContributerID", (IEnumerable<SelectListItem>)ViewBag.ContributerFrom, null, new { @id = "FContributerID", @class = "form-control" })
                        </div>
                        @Html.Label("FromPro", "من ", htmlAttributes: new { @class = "control-label col-md-1" })
                    </div>
                </div>
                <div class="col-md-6" dir="rtl" style="display:none">
                    <div class="col-md-5">
                        @Html.DropDownList("ToContributerID", (IEnumerable<SelectListItem>)ViewBag.ContributerTo, null, new { @id = "ToContributerID", @class = "form-control" })
                    </div>
                    @Html.Label("toPro", "الى ", htmlAttributes: new { @class = "control-label col-md-1" })
                </div>
                <div class="form-group bmd-form-group" dir="rtl">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary fa fa-print" value="عرض" style="text-align:center;color: white;cursor: pointer;" />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <br />


        </div>
    }

    @*<div >
            @foreach (var group in Model.GroupBy(m => m.ContributorName))
            {
                <div id="@group.Key" >
                    <div>
                        <table class="table" dir="rtl" width="70%" style="font-weight:bold; font-size:medium">
                            <tr>
                                <td style="font-weight:bold; font-size:medium">
                                    المساهم
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => @group.Key)
                                </td>
                                <td>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    رصيد الصكوك
                                </td>
                                <td>
                                    @ViewBag.C
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    رصيد المبالغ
                                </td>
                                <td>
                                    @ViewBag.d
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <table class="table" dir="rtl">



                        <thead style="background-color:#ccc; text-align-last:center" dir="rtl">
                            <tr dir="rtl">

                                <th>
                                    حركة المساهم
                                </th>
                                <th>
                                    التاريخ
                                </th>
                                <th>
                                    المبلغ
                                </th>

                            </tr>

                        </thead>
                        <tbody style="text-align-last:center" dir="rtl">


                            @foreach (var item in group)
                            {

                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.RefnameCredit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.indateCredit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.paidCredit)
                                    </td>

                                </tr>

                            }

                        </tbody>



                    </table>

                </div>
            }
        </div>*@

</table>
<div>
    <table class="table" dir="rtl" width="70%" style="font-weight:bold; font-size:medium">
        <tr>
            <td style="font-weight:bold; font-size:medium">
                المساهم
            </td>
            <td>
                @ViewBag.Cont
                @*@Html.DisplayFor(modelItem => @group.Key)*@
            </td>
            <td>
            </td>

        </tr>
        <tr>
            <td>
                رصيد الصكوك
            </td>
            <td>
                @ViewBag.C
            </td>
            <td>
            </td>
        </tr>
        <tr>

            <td>
                رصيد المبالغ
            </td>
            <td>
                @ViewBag.d
            </td>
            <td></td>
        </tr>
    </table>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <table class="table" dir="rtl">
            <thead  style="background-color:#ccc;text-align-last:center" dir="rtl">
                <tr>
                    <th>
                        تاريخ
                    </th>
                    <th>
                        مبالغ
                    </th>
                    <th>
                        البيان
                    </th>

                </tr>
            </thead>
            @foreach (ConterPaperPaymentViewModel payment in (List<ConterPaperPaymentViewModel>)ViewBag.Payment)
            {

                <tbody  style="text-align-last:center" dir="rtl">
                    <tr>
                        <td>
                            @payment.indateDebit.ToShortDateString()
                        </td>
                        <td>
                            @payment.paidDebit
                        </td>
                        <td>
                            @payment.RefnameDebit
                        </td>

                    </tr>
                </tbody>

            }
        </table>
    </div>
    <div class="col-md-6">
        <table class="table" dir="rtl">
            <thead  style="background-color:#ccc;text-align-last:center" dir="rtl">
                <tr>
                    <th>
                        تاريخ
                    </th>
                    <th>
                        مبلغ
                    </th>
                    <th>
                        البيان
                    </th>

                </tr>
            </thead>
            @foreach (ConterPaperReceiptViewModel receipt in (List<ConterPaperReceiptViewModel>)ViewBag.Receipt)
            {

                <tbody  style="text-align-last:center" dir="rtl">
                    <tr>
                        <td>
                            @receipt.indateCredit.ToShortDateString()
                        </td>
                        <td>
                            @receipt.paidCredit
                        </td>
                        <td>
                            @receipt.RefnameCredit
                        </td>

                    </tr>
                </tbody>

            }
        </table>
    </div>
</div>