@model IEnumerable<EdgeRealEstate.Models.ViewModels.ContributerMoveViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContributorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContributorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refTypeCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefnameCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indateCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paidCredit)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.refTypeDebit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefnameDebit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indateDebit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paidDebit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDebit)
        </th>
        <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContributorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContributorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.refTypeCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefnameCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indateCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paidCredit)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.refTypeDebit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefnameDebit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indateDebit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paidDebit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDebit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}

</table>
