@model EdgeRealEstate.Entities.Buildings

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>حذف</h2>

<h3>هل انت متاكد من حذف هذا الملف</h3>

<div>
    <h4>Buildings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nots)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("الكل", "Index")
        </div>
    }
</div>
